* {
    box-sizing: border-box;
    margin: 0;
}

.bio {
    background: linear-gradient(144.69deg, #9308fd 0%, #dffb62 100%);
    padding: 100px 150px 50px;
    text-align: center;
    box-shadow: 1px 6px 19px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 1px 6px 19px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 6px 19px 0px rgba(0,0,0,0.15);
    
}

.photo {
    width: 150px;
    height: 150px;
    background-image: url('../img/fotoprofilo.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.bio-description {
    color: #fff;
}

.bio-description h2 {
    font-size: 32px;
    font-family: 'Arvo';
}

.bio-description h3 {
    font-size: 24px;
    font-family: 'Arvo';
    margin-bottom: 20px;
}

.bio-description p {
    font-size: 15px;
    font-family: 'Arvo';
}

.bio-links {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.link-icons {
    width: 64px;
}

.projects {
    margin-bottom: 50px;
}

.title {
    padding: 20px 100px;
    border-bottom: 1px solid black;
    font-family: 'Arvo';
}

.project {
    display: flex;
    width: 100%;
    padding: 20px 100px;
    border-bottom: 1px solid black;
    font-family: 'Arvo';
}

.col1 {
    width: 70%;
    display: flex;
    align-items: center;
}

.col2 {
    width: 30%;
    display: flex;
    justify-content: end;
}

.col2 img {
    width: 50px;
}

.col1 a{
    text-decoration: none;
    color: #000;
}

.my-element {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
    animation-iteration-count: infinite;
  }

  .cv1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .cv2{
    background-color: #1E1E1E;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .m-bot{
    margin-bottom: 20px;
  }

  .arvo{
    font-family: 'Arvo'
  }

@media screen and (max-width: 768px) {

    .bio {
        padding: 100px 50px 50px;
    }

    .title {
        padding: 20px 50px;
    }

    .project {
        padding: 20px 50px;
    }
}

@media screen and (max-width: 425px) {
    .bio {
        padding: 40px 20px 30px;
    }

    .title {
        padding: 20px 20px;
    }

    .project {
        padding: 20px 20px;
    }

    .link-icons {
        width: 46px;
    }
}